@import "variables.css";

div.spinner-wrapper{
    margin-top: 10%;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.spinner-cube {
    width: 20vh;
    height: 20vh;
    background: #eee;
}
div.sk-cube {
    width: 33%;
    height: 33%;
    float: left;
    background: var(--lightColor);
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
div.sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
div.sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
div.sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
div.sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
div.sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
div.sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
div.sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
div.sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
div.sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
    }
}
@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
    }
}