@import "variables.css";

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    & img {
        max-height: 280px;
        box-shadow: 0px 2px 8px var(--lightColor);
        border: 1px solid var(--lightColor);
        margin-bottom: 20px;
    }
}