@import "variables.css";
@import "fonts.css";

body {
    font-family: var(--serifFont);
    color: var(--darkerColor);
    margin: 0;
}

header {
    box-shadow: 0px 2px 4px #DDD;
    color: var(--darkColor);
    padding: 20px;
    margin-bottom: 20px;

    & > h2 {
        margin: 0px;
        font-weight: normal;
        letter-spacing: 1px;
    }
}

button {
    border: none;
    outline: none;
    color: inherit;
    background: inherit;
    cursor: pointer;

    &.action {
        border: 1px solid var(--accentColor);
        border-radius: 5px;
        color: var(--accentColor);
        text-transform: uppercase;
        padding: 4px 10px;
        font-weight: bold;
        transition: all 0.25s;

        &:hover {
            color: var(--lighterColor);
            background: var(--accentColor);
        }
    }
}

.error-band {
    font-size: 1.2em;
    padding: 10px;
    color: crimson;
    text-align: center;
}