:root {
    --lightColor:       #AAA;
    --lighterColor:     white;
    --darkColor:        #888;
    --darkerColor:      #333;
    --accentColor:      #d25d3a;
    --serifFont:        'Merriweather', serif;
}