<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Glose</title>
    {{#each styles}}
        <link rel="stylesheet" type="text/css" href="{{this}}">
    {{/each}}
    {{#if preloadedState}}
        <script>window.__PRELOADED_STATE__ = {{{ preloadedState }}}</script>
    {{/if}}
</head>
<body>
    <div id="app-root">{{{ html }}}</div>
    {{#each bundles}}
        <script src="{{this}}"></script>
    {{/each}}
</body>
</html>