.book {
    margin: 26px 10px;
    width: 186px;

    & a {
        font-weight: bold;
    }

    & .ellipsis {
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        overflow: hidden;
    }

    & .book-title {
        text-align: left;
    }

    & .book-authors {
        font-size: 0.8em;
        text-align: left;
    }

    & .book-bar {
        margin-bottom: 15px;
        text-align: left;
        & > button {
            float: right;
        }
        & > * {
            display: inline-block;
            margin: 0px 5px;
            &:first-child {
                margin-left: 0px
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }

    & .book-title {
        line-height: 1.5em;
    }
}